<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Train Details</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/tlogo14.png' %}">
    <!-- Custom Stylesheet -->
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</head>
<body>
<div class="content-body">
    <div class="view" style="background-image: url('https://images.unsplash.com/photo-1556695736-d287caebc48e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEwfHx8ZW58MHx8fHw%3D&w=1000&q=80'); background-repeat: no-repeat; background-size: cover; background-position: center center; height:690px;">
        
    

    
<div  class="mask rgba-gradient align-items-center"  >  
    <div  class="col-lg-12" style="padding: 125px;" >
        
            <div class="card-body">
                <h4 class="card-title" style="color: rgb(241, 243, 247);">Book My Ticket</h4>
                <div class="basic-form">
                    <form method="POST" action="search">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-3">
                                <select class="form-control"  name="d_place" style="height: calc(3.2rem + 2px);">
                                    <option value="from">Form</option>
                                    <option value="aluva">Aluva</option>
                                    <option value="petta">Petta</option>
                                    <!--{% for i in station%}
                                    <option value="{{ i.d_place}}">{{ i.d_place}}</option>
                                    {% endfor %}-->
                                </select>
                            </div>
                            <div class="col-3">
                                <select class="form-control"  name="a_place" style="height: calc(3.2rem + 2px);">
                                    <option value="to">To</option>
                                    <option value="aluva">Aluva</option>
                                    <option value="petta">Petta</option>
                                    <!--{% for i in station%}
                                    <option value="{{ i.a_place}}">{{ i.a_place}}</option>
                                    {% endfor %}-->
                                    
                                </select>                                       
                                
                            </div>
                            <div class="col-3">
                                <input type="date" class="form-control" placeholder="Departure date" style="height: calc(3.2rem + 1px);">
                            </div>
                            <div class="input-group mb-3 col-3" >
                                <input type="submit" class="btn mb-1 btn-flat btn-outline-primary" value="search" style="height: calc(3.2rem + 2px) ; width:calc(3.2rem + 251px);">
                            </div>
                                                            
                        </div>
                    </form>
                    
                   
                    

                </div>
            </div>
        
    </div>
   
    <!-- #/ container -->
</div>
</div>
</div>
</body>
</html>