<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Ticket Details</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/tlogo14.png' %}">
    <!-- Custom Stylesheet -->
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <style>
        .logo{
            font-family: 'Poppins', sans-serif;
            
            color: rgb(241, 235, 235);
        }
    </style>
</head>

<body>

    
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="{% url 't_registration' %}">
                    <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="{% static './images/logo-compact.png'%}" alt=""></span>
                    <span class="brand-title">
                        <img src="{% static 'images/tlogo14.png' %}" style="height: 45px;"><b class="logo">TRANSIT LINE</b>
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->

        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label"><h4><b>REGISTRATION</b></h4></li>
                    
                    <li><a href="{% url 't_registration' %}">Train</a>
                    </li>
                    
                    <li class="nav-label"><h4><b>VIEW</b></h4></li>
                    <li><a href="{% url 't_display' %}">Train</a>
                    </li>
                
                    <li><a href="{% url 'viewticket' %}">Ticket</a>
                    </li>
                    <li><a href="{% url 'payement' %}">Payement</a>
                    </li>
                    <li class="nav-label"><h4><b>ADMIN</b></h4></li>
                    <li><a href="{% url 'admin_signup' %}">Signup</a>
                    </li>
                    <li><a href="{% url 'adminuser_logout' %}">Signout</a>
                    </li>
                    <li>
                        <a href="{% url 'admindata' %}"><h6><b>ADMIN VIEW</b></h6></a>
                    </li>

                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <!--div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div-->
            <!-- row -->

            <div class="container-fluid" >
                
                <div class="row">
                    
                    <!-- /# column -->
                    <!--<div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    <tbody>
                                        <tr>
                                            <th><img height="100px" width="170px" src="{% static 'images/t1.png' %}"></th>
                                        </tr>    
                                </div>
                            </div>
                        </div>
                    </div>-->            
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                
                                                <th></th>
                                                
                                                <th>Train Number</th>
                                                <th>Name</th>
                                                <th>Date of departure</th>
                                                <th>Departure Place</th>
                                                <th>Arrival place</th>
                                                <th>Number of Passengers</th>
                                                
                                                <th></th>
                                                
                                                
                                                
                                                
                                            </tr>
                                        </thead>
                                        {% for i in view %} 
                                        <tbody>
                                            <tr>
                                                
                                                <td></td>
                                                
                                                <td>{{i.train_no}}</td>
                                                <td>{{i.firstName}}</td>
                                                <td>{{i.date}}</td>
                                                <td>{{i.c_from}}</td>
                                                <td>{{ i.c_to}}</td>
                                                <td>{{i.passenger}}</td>
                                                
                                                
                                                
                                                
                                                
                                            </tr>
                                        </tbody>
                                        {% endfor %} 
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                    
                </div>
                </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="{% static 'plugins/common/common.min.js'%}"></script>
    <script src="{% static 'js/custom.min.js'%}"></script>
    <script src="{% static 'js/settings.js'%}"></script>
    <script src="{% static 'js/gleek.js'%}"></script>
    <script src="{% static 'js/styleSwitcher.js'%}"></script>

</body>

</html>
